.clear {
	clear: both;
}

button {
  -webkit-app-region: no-drag;
	outline: none;
	border: none;
}

/*Topbar*/
.topbar {
	height: 35px;
	width:100%;
	float: left;
	background: #1e1e1e;
	/* margin-bottom: 36px; */
	position: absolute;
	z-index: 1;
}
.topbar-left {
	top: 0;
	left: 0;
	float: left;
	position: relative;
	z-index: 1;
}
.topbar .title {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 0;
	margin: 7px 0;
	color: white;
	font-size: 16px;
	font-family: montserrat;
}
.topbar-right {
	top: 0;
	right: 0;
	float: right;
	position: relative;
	z-index: 1;
	font-family: montserrat;
	font-size: 16px;
}
.topbar-btn {
	height: 35px;
	background: #1e1e1e;
	color: #bababa;
}
.topbar-btn:hover {
	background: #535353;
	cursor: pointer;
}
.topbar-btn:active {
	background: #1e1e1e;
	cursor: pointer;
}
