/*Defaults*/
body, html {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #1e1e1e;
	margin-bottom: auto;
}

.page-container{
	height: 97.5%
}

/* horizontal panel*/
.panel-container {
  display: flex;
  flex-direction: row;
  height: inherit;
  width: inherit;
  margin-top: 30px;
  overflow: hidden;
  font-family: sans-serif;
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
	flex: 0 0 auto;
	/* only manually resize */
	width: 50%;
	min-width: 50%;
  max-width: 99%;
	white-space: nowrap;
	background: #3a3a3a;
	overflow: hidden;
	color: white;
	position: relative;
  }

.splitter {
	flex: 0 0 auto;
	width: 18px;
	background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
	min-height: 200px;
	cursor: col-resize;
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  width: 50%;
  background: #eee;
  overflow: scroll;
  padding: 10px 10px 10px 10px;
  position: relative;
}

table, td{
	border: 1px solid black;
	height:40px;
	width: 500px;
	position:relative;
	text-align: center;
	font-size: 12px;
	font-family: sans-serif;
}

th.centerIt {
  border: 1px solid black;
  text-align: center;
}

td.eq {
  border: 1px solid black;
  text-align: left;
  padding: 10px 15px 10px 15px;
}

td.name{
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

button {
  -webkit-app-region: no-drag;
	outline: none;
	border: none;
}

.clear {
	clear: both;
}
/*Topbar*/
.topbar {
	height: 30px;
	width:100%;
	float: left;
	background: #1e1e1e;
	/* margin-bottom: 36px; */
	position: absolute;
	z-index: 99;
}
.topbar-left {
	top: 0;
	left: 0;
	float: left;
	position: relative;
	z-index: 1;
}
.topbar .title {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 0;
	margin: 7px 0;
	color: white;
	font-size: 16px;
	font-family: sans-serif;
}
.topbar-right {
	top: 0;
	right: 0;
	float: right;
	position: relative;
	z-index: 1;
	font-family: sans-serif;
}
.topbar-btn {
	height: 30px;
	background: #1e1e1e;
	color: #bababa;
}
.topbar-btn:hover {
	background: #535353;
}

.topbar-drop{
	height:30px;
}
.topbar-drop-selected{
	background-color: DodgerBlue;
}
